<?xml version="1.0"?>
<!--   
    ========================================  
      * Author: nipun.dhananjaya@gmail.com  
      * Created: 10.03.2023  
    ========================================  
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Akula links">

    <!-- load meshes -->
    <xacro:macro name="base_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/tracer_base_link_no_wheel.dae"/>
    </xacro:macro>
    <xacro:macro name="fl_castor_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor_joint.dae"/>
    </xacro:macro>
    <xacro:macro name="fr_castor_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor_joint.dae"/>
    </xacro:macro>
    <xacro:macro name="rl_castor_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor_joint.dae"/>
    </xacro:macro>
    <xacro:macro name="rr_castor_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor_joint.dae"/>
    </xacro:macro>
    <xacro:macro name="fl_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor.dae"/>
    </xacro:macro>
    <xacro:macro name="fr_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor.dae"/>
    </xacro:macro>
    <xacro:macro name="rl_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor.dae"/>
    </xacro:macro>
    <xacro:macro name="rr_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/castor.dae"/>
    </xacro:macro>
    <xacro:macro name="L_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/tracer_wheel.dae"/>
    </xacro:macro>
    <xacro:macro name="R_wheel_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/tracer_wheel.dae"/>
    </xacro:macro>

    <xacro:macro name="akula_fin_link">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/fin.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>

    

    <!-- Initial Link -->
    <link name="inertial_link">
        <inertial>
            <mass value="132.3898489950015"/>
            <origin xyz="0.015 0  0.0231316650320557"/>
            <inertia 
                ixx="0.185196122711036" ixy="0" ixz="0" iyy="0.364893736238929" iyz="-0.000386720198091934" izz="0.223868521722778"/>
        </inertial>
    </link>

    <!-- base link -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <xacro:base_link></xacro:base_link>
            </geometry>
            <material name="base">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <xacro:base_link></xacro:base_link>
            </geometry>
        </collision>
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </link>


    <!-- ************************************************** -->

    <!-- FL castor joint link -->
    <link name="fl_castor_link">
        <visual>
            <geometry>
                <xacro:rl_castor_link></xacro:rl_castor_link>
            </geometry>
            <material name="fl_castor_link">
                <color rgba="0.8 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:fl_castor_link></xacro:fl_castor_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
    </link>

    <!-- FR castor joint link -->
    <link name="fr_castor_link">
        <visual>
            <geometry>
                <xacro:fr_castor_link></xacro:fr_castor_link>
            </geometry>
            <material name="fr_castor_link">
                <color rgba="0.8 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:fr_castor_link></xacro:fr_castor_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
    </link>

    <!-- BL castor joint link -->
    <link name="bl_castor_link">
        <visual>
            <geometry>
                <xacro:rl_castor_link></xacro:rl_castor_link>
            </geometry>
            <material name="bl_castor_link">
                <color rgba="0.8 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:rl_castor_link></xacro:rl_castor_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
    </link>

    <!-- BR castor joint link -->
    <link name="br_castor_link">
        <visual>
            <geometry>
                <xacro:rr_castor_link></xacro:rr_castor_link>
            </geometry>
            <material name="br_castor_link">
                <color rgba="0.8 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:rr_castor_link></xacro:rr_castor_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
    </link>


    <!-- ************************************************** -->

    <!-- FL castor wheel -->
    <link name="fl_castor_wheel">
        <visual>
            <geometry>
                <xacro:fl_wheel_link></xacro:fl_wheel_link>
            </geometry>
            <material name="fl_castor_wheel">
                <color rgba="0.4 0.4 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:fl_wheel_link></xacro:fl_wheel_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.3131" ixy="0" ixz="0" iyy="0.3131" iyz="0" izz="0.3161" />
        </inertial>
    </link>

    <!-- FR castor wheel -->
    <link name="fr_castor_wheel">
        <visual>
            <geometry>
                <xacro:fr_wheel_link></xacro:fr_wheel_link>
            </geometry>
            <material name="fr_castor_wheel">
                <color rgba="0.4 0.4 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:fr_wheel_link></xacro:fr_wheel_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.3131" ixy="0" ixz="0" iyy="0.3131" iyz="0" izz="0.3161" />
        </inertial>
    </link>

    <!-- BL castor wheel -->
    <link name="bl_castor_wheel">
        <visual>
            <geometry>
                <xacro:rl_wheel_link></xacro:rl_wheel_link>
            </geometry>
            <material name="bl_castor_wheel">
                <color rgba="0.4 0.4 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:rl_wheel_link></xacro:rl_wheel_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.3131" ixy="0" ixz="0" iyy="0.3131" iyz="0" izz="0.3161" />
        </inertial>
    </link>

    <!-- BR castor wheel -->
    <link name="br_castor_wheel">
        <visual>
            <geometry>
                <xacro:rr_wheel_link></xacro:rr_wheel_link>
            </geometry>
            <material name="br_castor_wheel">
                <color rgba="0.4 0.4 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:rr_wheel_link></xacro:rr_wheel_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.3131" ixy="0" ixz="0" iyy="0.3131" iyz="0" izz="0.3161" />
        </inertial>
    </link>

    <!-- ************************************************** -->
    <link name="L_wheel">
        <visual>
            <geometry>
                <xacro:L_wheel_link></xacro:L_wheel_link>
            </geometry>
            <material name="L_wheel">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <xacro:L_wheel_link></xacro:L_wheel_link>
            </geometry>
        </collision>
        <inertial>
            <mass value="6" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
    </link>

    <link name="R_wheel">
        <visual>
            <geometry>
                <xacro:R_wheel_link></xacro:R_wheel_link>
            </geometry>
            <material name="R_wheel">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
        <inertial>
            <mass value="6" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.7171" ixy="0" ixz="0" iyy="0.1361" iyz="0" izz="0.7171" />
        </inertial>
        <collision>
            <geometry>
                <xacro:R_wheel_link></xacro:R_wheel_link>
            </geometry>
        </collision>
    </link>

    <link name="fin_link">
        <visual>
            <geometry>
                <xacro:akula_fin_link></xacro:akula_fin_link>
            </geometry>
            <material name="fin">
                <color rgba="0.15 0.15 0.15 1"/>
            </material>
        </visual>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.3" ixy="0" ixz="0" iyy="0.3" iyz="0" izz="0.3" />
        </inertial>
        <collision>
            <geometry>
                <xacro:akula_fin_link></xacro:akula_fin_link>
            </geometry>
        </collision>
    </link>



    <!-- Velodyne VLP16 -->
    <xacro:macro name="vlp16_base">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/VLP16/VLP16_base_1.stl"/>
    </xacro:macro>
    <xacro:macro name="vlp16_scan">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/VLP16/VLP16_scan.stl"/>
    </xacro:macro>
    <xacro:macro name="vlp16_top">
        <mesh filename="file://$(find akula_ign_sim)/models/tracer/meshes/VLP16/VLP16_base_2.stl"/>
    </xacro:macro>
    
    <link name="vlp16_base_link">
        <inertial>
            <mass value="0.83"/>
            <origin xyz="0 0 0.03585"/>
            <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" ixy="0" ixz="0"
            iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" iyz="0"
            izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
        </inertial>
        <visual>
            <geometry>
                <xacro:vlp16_base></xacro:vlp16_base>
            </geometry>
            <material name="base1">
                    <color rgba="0.7 0.7 0.7 1"/>
            </material>
        </visual>
        <visual>
            <geometry>
                <xacro:vlp16_top></xacro:vlp16_top>
            </geometry>
            <material name="base2">
                    <color rgba="0.7 0.7 0.7 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.03585"/>
            <geometry>
            <cylinder radius="0.0516" length="0.0717"/>
            </geometry>
        </collision>
    </link>

    <link name="vlp16_scan">
        <visual>
            <geometry>
                <xacro:vlp16_scan></xacro:vlp16_scan>
            </geometry>
            <material name="scan">
                <color rgba="0.1 0.1 0.3 1"/>
            </material>
        </visual>
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0.03585" />
            <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
        </inertial>
        <collision>
            <geometry>
                <xacro:vlp16_scan></xacro:vlp16_scan>
            </geometry>
        </collision>
    </link>

</robot>
