<?xml version="1.0"?>
<!--  
   ======================================== 
     * Author: nipun.dhananjaya@gmail.com 
     * Created: 10.03.2023 
   ======================================== 
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="akula">
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
    <!-- links -->
    <xacro:include filename="$(find akula_description)/urdf/akula_links.xacro" />
    <!-- joints -->
    <xacro:include filename="$(find akula_description)/urdf/akula_joints.xacro" />
    

    <!-- ros2 control -->
    <xacro:include filename="$(find akula_description)/urdf/ros2_control.xacro"/>

    

    <!-- gazebo -->
    <xacro:include filename="$(find akula_description)/urdf/gazebo.xacro"/>

    <!-- lidar -->
    <xacro:include filename="$(find akula_description)/urdf/velodyne_VLP16.xacro"/>

    <!-- imu -->
    <xacro:include filename="$(find akula_description)/urdf/imu.xacro"/>

    <!-- camera -->
    <xacro:include filename="$(find akula_description)/urdf/camera.xacro"/>


</robot>