<?xml version="1.0"?>

<!-- 
    '''  
=========================================
    * Author: nipun.dhananjaya@gmail.com
    * Created: 04.2023
=========================================
'''
 -->

 

 <robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

    <xacro:property name="pi" value="3.1415926535897931" />

    <joint name="camera_joint" type="fixed">
        <parent link="fin_link"/>
        <child link="camera_link"/>
        <origin xyz="0 -0.14 0.84" rpy="0 0 3.14"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.10 0.15 0.03"/>
            </geometry>
            <material name="camera">
                <color rgba="0.034 0.064 0.09 0.99"/>
            </material>
            <collision>
                <geometry>
                    <box size="0.10 0.15 0.03"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.8" />
                <origin xyz="0 0 0" />
                <inertia ixx="${1/12 * 0.8 * (0.15*0.15 + 0.02*0.02)}" ixy="0" ixz="0" 
                         iyy="${1/12 * 0.8 * (0.10*0.10 + 0.02*0.02)}" iyz="0" 
                         izz="${1/12 * 0.8 * (0.15*0.15 + 0.10*0.10)}" />
            </inertial>
        </visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_optical_link"/>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
    </joint>

    <link name="camera_optical_link"></link>

    <gazebo reference="camera_optical_link">
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>camera</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <heigh>480</heigh>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <!-- <plugin 
                filename="libignition-gazebo-sensors-system.so" 
                name="ignition::gazebo::systems::Sensors">
                <render_engine>ogre</render_engine>
            </plugin> -->
        </sensor>
    </gazebo>


 </robot>